@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255 0);
}


body{
  font-family: "Roboto Condensed" sans-serif;
}

/******************* NAVBAR **********************/
.logo{
  width: 5rem;
}

 h1{
  color: #fff;
  margin-right: 150px;
  margin-top: 15px;
}

/**************** Menu-Links ****************/
nav a.nav-link{
  letter-spacing: 0.2rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
  
}

.navbar-nav > li > a{
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: auto;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding:0 !important;
  height: 5.2rem;
}

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}